### CREDIT CARD FRAUD DETECTION..

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_csv("creditcard.csv")

In [4]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df.shape

(284807, 31)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
#number of legit and fraudlent transactions
df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [10]:
#here 0 is for genuine transaction and 1 is for fraud transactions

In [11]:
#since we can see that this data is highly unbalanced  we need to perform unders sampling
#we have to firstly separate this for analysis

In [12]:
leg=df[df.Class==0]
fraud=df[df.Class==1]

In [13]:
leg.shape

(284315, 31)

In [14]:
fraud.shape

(492, 31)

In [15]:
#comparing values for both the transaction
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [16]:
#here we can see that there is signifcant difference between the mean values

In [17]:
#let's do under sampling for the normal transaction to make it similar in size with fraudlent

In [18]:
normal=leg.sample(n=492)

In [19]:
#now concatenatting the dataframe
new_df=pd.concat([normal,fraud],axis=0)

In [20]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
169581,119762.0,-1.726229,1.586763,-2.598963,-1.762136,2.666026,3.367958,1.627301,0.774638,-0.317324,...,-0.229747,-0.069769,-0.484327,0.683159,1.537704,0.875136,0.139125,-0.138871,176.00,0
252127,155663.0,-0.053132,0.980594,-2.133079,-0.558776,1.145012,-0.621406,1.247634,0.245763,-0.748751,...,0.253643,0.519611,0.052588,0.149640,-0.350329,0.525042,-0.121233,0.031076,85.25,0
241903,151241.0,2.060285,-0.025365,-1.085409,0.387358,-0.036629,-1.078213,0.198444,-0.330312,0.475955,...,-0.283268,-0.650711,0.333472,-0.071356,-0.288337,0.203990,-0.064522,-0.060373,0.99,0
129975,79254.0,-0.921260,0.143285,1.609215,-0.680081,-0.629766,-0.372154,-0.676968,0.618686,0.921286,...,0.216292,0.644436,-0.084829,0.118293,-0.367740,-0.589313,0.143622,0.025139,1.00,0
110795,71978.0,-0.526010,-0.907650,2.119587,-1.265182,-1.319884,0.315284,-1.070387,0.215932,-2.212761,...,0.200652,1.150882,0.066996,0.263036,-0.447866,0.073441,0.110447,0.163973,43.30,0

In [21]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94398.754065,0.118435,0.001486,-0.065691,-0.018656,-0.041104,-0.047607,0.048374,0.014064,0.004201,...,0.023566,-0.004728,-0.006381,-0.015751,-0.01940,0.053862,0.039889,-0.028563,-0.026353,94.175772
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [22]:
#splitting data into features and target
X=new_df.drop(columns='Class',axis=0)
Y=new_df['Class']

In [23]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
169581,119762.0,-1.726229,1.586763,-2.598963,-1.762136,2.666026,3.367958,1.627301,0.774638,-0.317324,...,0.221747,-0.229747,-0.069769,-0.484327,0.683159,1.537704,0.875136,0.139125,-0.138871,176.00
252127,155663.0,-0.053132,0.980594,-2.133079,-0.558776,1.145012,-0.621406,1.247634,0.245763,-0.748751,...,-0.150327,0.253643,0.519611,0.052588,0.149640,-0.350329,0.525042,-0.121233,0.031076,85.25
241903,151241.0,2.060285,-0.025365,-1.085409,0.387358,-0.036629,-1.078213,0.198444,-0.330312,0.475955,...,-0.200853,-0.283268,-0.650711,0.333472,-0.071356,-0.288337,0.203990,-0.064522,-0.060373,0.99
129975,79254.0,-0.921260,0.143285,1.609215,-0.680081,-0.629766,-0.372154,-0.676968,0.618686,0.921286,...,0.063228,0.216292,0.644436,-0.084829,0.118293,-0.367740,-0.589313,0.143622,0.025139,1.00
110795,71978.0,-0.526010,-0.907650,2.119587,-1.265182,-1.319884,0.315284,-1.070387,0.215932,-2.212761,...,-0.156402,0.200652,1.150882,0.066996,0.263036,-0.447866,0.073441,0.110447,0.163973,43.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [24]:
Y

169581    0
252127    0
241903    0
129975    0
110795    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [25]:
#splitting data into training and testing part
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)
#ensures that the class distribution in the original dataset is preserved in the training 
#and testing subsets 
#randomstate ensures a element of randomness

In [26]:
model=LogisticRegression(max_iter=1000)
model.fit(X_train,Y_train)

LogisticRegression(max_iter=1000)

In [27]:
#model evaluation
X_train_pred=model.predict(X_train)
acc=accuracy_score(X_train_pred,Y_train)

In [29]:
acc*100  #accuracy on training data

94.79034307496823

In [30]:
Y_test

247995    1
139031    0
15769     0
244448    0
15451     1
         ..
108258    1
12108     1
99506     1
74496     1
237924    0
Name: Class, Length: 197, dtype: int64

In [31]:
x_test_pred=model.predict(X_test)
ac2=accuracy_score(x_test_pred,Y_test)
ac2*100 #accuracy on testing data

91.87817258883248