### CREDIT CARD FRAUD DETECTION..

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_csv("creditcard.csv")

In [4]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df.shape

(284807, 31)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
#number of legit and fraudlent transactions
df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [9]:
#here 0 is for genuine transaction and 1 is for fraud transactions

In [10]:
#since we can see that this data is highly unbalanced  we need to perform unders sampling
#we have to firstly separate this for analysis

In [11]:
leg=df[df.Class==0]
fraud=df[df.Class==1]

In [12]:
leg.shape

(284315, 31)

In [13]:
fraud.shape

(492, 31)

In [14]:
#comparing values for both the transaction
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [15]:
#here we can see that there is signifcant difference between the mean values

In [16]:
#let's do under sampling for the normal transaction to make it similar in size with fraudlent

In [17]:
normal=leg.sample(n=492)

In [18]:
#now concatenatting the dataframe
new_df=pd.concat([normal,fraud],axis=0)

In [19]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
140087,83532.0,1.190630,0.214879,0.680519,1.483556,-0.438779,-0.446242,-0.005969,-0.125682,0.390159,...,-0.049905,0.149160,-0.132260,0.442799,0.767255,-0.274892,0.043338,0.024079,8.36,0
257934,158416.0,-0.365127,0.301800,0.623934,0.169137,0.832657,-1.132806,0.583689,-0.161372,-0.338129,...,-0.128217,-0.433791,0.151784,-0.011583,-0.803609,0.298592,0.120753,0.193781,9.99,0
194818,130770.0,1.806891,-2.522899,0.360861,-1.251783,-2.359115,0.951505,-2.242072,0.407139,-0.148671,...,0.145045,0.760037,0.114386,0.732898,-0.517742,-0.093753,0.066794,-0.000248,184.61,0
163028,115583.0,0.013810,0.866945,0.311483,-0.577594,0.496410,-1.142705,1.027180,-0.240267,-0.136751,...,-0.249006,-0.520878,0.072356,0.056385,-0.467175,0.135634,0.249627,0.099736,3.56,0
169005,119484.0,-1.143175,1.650460,-2.634467,-2.639673,1.361144,-0.103814,-0.417427,-6.225726,-0.756185,...,5.898402,0.222644,0.504154,0.037151,-0.781771,-0.101894,0.639221,0.190311,8.00,0

In [20]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95900.493902,0.067067,0.104312,-0.015243,0.103975,-0.034844,-0.048815,-0.000712,0.009550,0.051740,...,-0.000941,-0.022006,0.044617,0.004980,-0.00333,0.012702,0.020897,0.008711,-0.012124,69.264715
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [21]:
#splitting data into features and target
X=new_df.drop(columns='Class',axis=0)
Y=new_df['Class']

In [22]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
140087,83532.0,1.190630,0.214879,0.680519,1.483556,-0.438779,-0.446242,-0.005969,-0.125682,0.390159,...,-0.103193,-0.049905,0.149160,-0.132260,0.442799,0.767255,-0.274892,0.043338,0.024079,8.36
257934,158416.0,-0.365127,0.301800,0.623934,0.169137,0.832657,-1.132806,0.583689,-0.161372,-0.338129,...,0.109037,-0.128217,-0.433791,0.151784,-0.011583,-0.803609,0.298592,0.120753,0.193781,9.99
194818,130770.0,1.806891,-2.522899,0.360861,-1.251783,-2.359115,0.951505,-2.242072,0.407139,-0.148671,...,-0.050475,0.145045,0.760037,0.114386,0.732898,-0.517742,-0.093753,0.066794,-0.000248,184.61
163028,115583.0,0.013810,0.866945,0.311483,-0.577594,0.496410,-1.142705,1.027180,-0.240267,-0.136751,...,0.013208,-0.249006,-0.520878,0.072356,0.056385,-0.467175,0.135634,0.249627,0.099736,3.56
169005,119484.0,-1.143175,1.650460,-2.634467,-2.639673,1.361144,-0.103814,-0.417427,-6.225726,-0.756185,...,-1.128543,5.898402,0.222644,0.504154,0.037151,-0.781771,-0.101894,0.639221,0.190311,8.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [23]:
Y

140087    0
257934    0
194818    0
163028    0
169005    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [24]:
#splitting data into training and testing part
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)
#ensures that the class distribution in the original dataset is preserved in the training 
#and testing subsets 
#randomstate ensures a element of randomness

In [25]:
model=LogisticRegression()
model.fit(X_train,Y_train)

C:\Users\deend\anaconda3.0\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [27]:
#model evaluation
X_train_pred=model.predict(X_train)
acc=accuracy_score(X_train_pred,Y_train)

In [36]:
acc*100  #accuracy on training data

94.40914866581956

In [32]:
Y_test

247995    1
277128    0
1154      0
222210    0
15451     1
         ..
108258    1
12108     1
99506     1
74496     1
26982     0
Name: Class, Length: 197, dtype: int64

In [35]:
x_test_pred=model.predict(X_test)
ac2=accuracy_score(x_test_pred,Y_test)
ac2*100 #accuracy on testing data

91.87817258883248